<div class="modal-header">
    <h5 class="modal-title">Patient View
        <button type="button" class="btn btn-danger pull-right"
                ng-click="discharge()">Discharge</button>
    </h5>

</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/images/patient.png" width = "100px"></img>
        </div> 
        <div class="col-md-4">  
            <p class="list-group-item-text">
                Clinic Number: 00100234<br>
                Patient Name: Lei <br>
                Gender: Male <br>
                Admiaaion Date: xxxasa <br>
                ICU lengh of days: 1 <br>
            </p>
        </div> 
        <div class="col-md-5">
            <br><br><br>
            <button type="button" class="btn btn-primary" ng-click="dashboard()">Evaluation</button>&nbsp&nbsp
            <button type="button" class="btn btn-success" ng-click="rd()">Rounding</button>
        </div> 
    </div>
</div>

