<div class="form-group col-md-5 col-md-offset-3"  ng-scrollbars ng-scrollbars-config="sc.findings">

          <input type="checkbox" ng-model="sc.sob.f1"
                    ng-true-value="'Increased work of breathing'" 
                    ng-false-value="''"> 
                    Increased work of breathing
          <br>

          <input type="checkbox" ng-model="sc.sob.f2"
                    ng-true-value="'Unilateral absent breath sounds'" 
                    ng-false-value="''"> 
          Unilateral absent breath sounds
     ><br>
     
          <input type="checkbox" ng-model="sc.sob.f3"
                    ng-true-value="'US: Absent lung sliding'" 
                    ng-false-value="''">
          US: Absent lung sliding
     <br>
     
          <input type="checkbox" ng-model="sc.sob.f4"
                    ng-true-value="'US: Lung point'" 
                    ng-false-value="''"> 
          US: Lung point
      <br>
      
          <input type="checkbox" ng-model="sc.sob.f5"
                    ng-true-value="'Foreign body'" 
                    ng-false-value="''"> 
         Foreign body
      <br>
      
          <input type="checkbox" ng-model="sc.sob.f6"
                    ng-true-value="'Stridor'" 
                    ng-false-value="''"> 
          Stridor
      <br>
      
          <input type="checkbox" ng-model="sc.sob.f7"
                    ng-true-value="'Angioedema'" 
                    ng-false-value="''"> 
         Angioedema
      <br>
   
          <input type="checkbox" ng-model="sc.sob.f8"
                    ng-true-value="'Hypotension'" 
                    ng-false-value="''"> 
         Hypotension
    <br>
   
          <input type="checkbox" ng-model="sc.sob.f9"
                    ng-true-value="'Cough'" 
                    ng-false-value="''"> 
         Cough
    <br>
     
          <input type="checkbox" ng-model="sc.sob.f10"
                    ng-true-value="'Wheezing'" 
                    ng-false-value="''"> 
         Wheezing
    <br>
  
          <input type="checkbox" ng-model="sc.sob.f11"
                    ng-true-value="'Pleuritic pain'" 
                    ng-false-value="''"> 
         Pleuritic pain
   <br>

          <input type="checkbox" ng-model="sc.sob.f12"
                    ng-true-value="'Hypoxia'" 
                    ng-false-value="''"> 
         Hypoxia
<br>
  
          <input type="checkbox" ng-model="sc.sob.f13"
                    ng-true-value="'ECG: RV strain'" 
                    ng-false-value="''"> 
         ECG: RV strain
   <br>
 
          <input type="checkbox" ng-model="sc.sob.f14"
                    ng-true-value="'US: DVT'" 
                    ng-false-value="''"> 
         US: DVT
  <br>
   
          <input type="checkbox" ng-model="sc.sob.f15"
                    ng-true-value="'US: RV dilatation'" 
                    ng-false-value="''"> 
         US: RV dilatation
    <br>

          <input type="checkbox" ng-model="sc.sob.f16"
                    ng-true-value="'Swelling'" 
                    ng-false-value="''"> 
         Swelling
 <br>
    
          <input type="checkbox" ng-model="sc.sob.f17"
                    ng-true-value="'Crackles'" 
                    ng-false-value="''"> 
         Crackles
  <br>
    
          <input type="checkbox" ng-model="sc.sob.f18"
                    ng-true-value="'ECG changes'" 
                    ng-false-value="''"> 
        ECG changes
 <br>
 
 <input type="checkbox" ng-model="sc.sob.f19"
                    ng-true-value="'US:LV dysfunction'" 
                    ng-false-value="''"> 
        US:LV dysfunction
 <br>
 <input type="checkbox" ng-model="sc.sob.f20"
                    ng-true-value="'Fever'" 
                    ng-false-value="''"> 
        Fever
 <br>
 <input type="checkbox" ng-model="sc.sob.f21"
                    ng-true-value="'Bilateral infiltrates'" 
                    ng-false-value="''"> 
        Bilateral infiltrates
 <br>
  <input type="checkbox" ng-model="sc.sob.f22"
                    ng-true-value="'PO2/FIO2 <300'" 
                    ng-false-value="''"> 
        PO2/FIO3 &lt 300
 <br>
  <input type="checkbox" ng-model="sc.sob.f23"
                    ng-true-value="'Hyperventilation'" 
                    ng-false-value="''"> 
        Hyperventilation
 <br>
  <input type="checkbox" ng-model="sc.sob.f24"
                    ng-true-value="'Hyperglycemia'" 
                    ng-false-value="''"> 
       Hyperglycemia
 <br>
  <input type="checkbox" ng-model="sc.sob.f25"
                    ng-true-value="'Low pH (<7.35)'" 
                    ng-false-value="''"> 
       Low pH (&lt7.35)
 <br>
  <input type="checkbox" ng-model="sc.sob.f26"
                    ng-true-value="'Loss of HCO3'" 
                    ng-false-value="''"> 
       Loss of HCO3
 <br>
  <input type="checkbox" ng-model="sc.sob.f27"
                    ng-true-value="'Ketonuria'" 
                    ng-false-value="''"> 
       Ketonuria
 <br>
    Others<br>
    <input type="text" class="form-control" name="name" >
</div>


<div class="form-group row">
<div class="col-md-2 col-md-offset-9">
    <a class="btn btn-primary" ng-click="sc.sobSynds()">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>