<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<ul class="nav nav-pills pull-right">
    	  <li ui-sref-active="active">
    	    <a ui-sref="ic" data-toggle="pill">I.C.</a>
    	  </li >
    	  <li ui-sref-active="active">
    	    <a ui-sref="mas" data-toggle="pill">M.A.S.</a>
    	  </li>
    	  <li ui-sref-active="active">
    	    <a ui-sref="cau" data-toggle="pill">Caution</a>
    	  </li >
    	  <li ui-sref-active="active">
    	    <a ui-sref="algo" data-toggle="pill">Algorithm</a>
    	  </li>
    	  <li ui-sref-active="active">
    	    <a ui-sref="ref" data-toggle="pill">Ref</a>
    	  </li>
    	  
    	</ul>
    	<h4>{{cardName}}</h4>	
    
</div>
<div class="modal-body">
  <div class="row" ng-scrollbars ng-scrollbars-config="sgmi">
  
      <div class="col-md-9">
          <div ui-view="synmodal"></div> 
  <!---->
   
  
  <!---->
  <!--    <uib-tabset type="pills">-->
  <!--  <uib-tab heading="I.C.">-->
  <!--      Severe hypertension: systolic blood pressure (SBP) >180 mmHg and/or diastolic blood pressure (DBP) >120 mmHg.-->
  <!--      Hypertensive urgency: severe hypertension without acute end-organ damage.-->
  <!--      Hypertensive emergency: severe hypertension with acute end-organ damage. (encephalopathy, retinopathy, acute kidney injury, cardiovascular manifestations).-->
  <!--      Signs & Symptoms:-->
  <!--      Encephalopathy: insidious onset headache, confusion, nausea/vomiting, seizure, coma, cerebro-vascular accident.-->
  <!--      Retinopathy: retinal hemorrhages, exudates +/- papilledema.-->
  <!--      Acute kidney injury: hematuria, proteinuria.-->
  <!--      Cardiovascular manifestations: acute pulmonary edema, acute coronary syndrome, aortic dissection, acute hemolytic anemia and thrombocytopenia.-->
  <!--      Underlying cause(s): non-compliance with medication, salt indiscretion, pain, drug overdose, intracranial hypertension-->
  <!--      DIAGNOSTIC INTERVENTIONS-->
  <!--  </uib-tab>-->
  <!--  <uib-tab heading="M.A.S" classes="btn-sm">-->
  <!--      Physical Exam: compare blood pressure (BP) on both arms; consider funduscopy-->
  <!--      Monitoring: BP (frequent/continuous), ECG, creatinine-->
  <!--      Imaging: consider CT head (e.g. encephalopathy vs stroke)-->
  <!--  </uib-tab>-->
  <!--  <uib-tab heading="Caution" classes="btn-sm">-->
  <!--      Physical Exam: compare blood pressure (BP) on both arms; consider funduscopy-->
  <!--      Monitoring: BP (frequent/continuous), ECG, creatinine-->
  <!--      Imaging: consider CT head (e.g. encephalopathy vs stroke)-->
  <!--  </uib-tab>-->
  <!--  <uib-tab heading="Algorithm" classes="btn-sm">-->
  <!--      Physical Exam: compare blood pressure (BP) on both arms; consider funduscopy-->
  <!--      Monitoring: BP (frequent/continuous), ECG, creatinine-->
  <!--      Imaging: consider CT head (e.g. encephalopathy vs stroke)-->
  <!--  </uib-tab>-->
  <!--  <uib-tab heading="Ref" classes="btn-sm">-->
  <!--      Physical Exam: compare blood pressure (BP) on both arms; consider funduscopy-->
  <!--      Monitoring: BP (frequent/continuous), ECG, creatinine-->
  <!--      Imaging: consider CT head (e.g. encephalopathy vs stroke)-->
  <!--  </uib-tab>-->
  <!--  <uib-tab heading="Notes" classes="btn-sm">-->
  <!--      Physical Exam: compare blood pressure (BP) on both arms; consider funduscopy-->
  <!--      Monitoring: BP (frequent/continuous), ECG, creatinine-->
  <!--      Imaging: consider CT head (e.g. encephalopathy vs stroke)-->
  <!--  </uib-tab>-->
  <!--</uib-tabset>-->

  </div>
  
  <div class="col-md-3">
      
    <div class="panel panel-default" >
        <div class="panel-heading">
              Suggested Medication
        </div>
        <ul class="list-group" >
          <li class="list-group-item" ng-class="{'btnactive': m.isActive}"
          ng-repeat = "m in meds"
          ng-click="addMeds(m)">{{m.name}}
  &nbsp&nbsp<i ng-if="m.isActive" class="fa fa-check" aria-hidden="true"></i>
  </li>
        </ul>
    </div>
    <div class="panel panel-default" >
        <div class="panel-heading">
              Suggested Intervention
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-class="{'btnactive': i.isActive}"
          ng-repeat = "i in ints"
          ng-click="addInts(i)">{{i.name}}
  &nbsp&nbsp<i ng-if="i.isActive" class="fa fa-check" aria-hidden="true"></i>
  </li>
        </ul>
    </div>

  </div>

</div>
  
  
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>