
<div class="container">

    <div class="page-header">
        <h3><i class="fa fa-lock" style= "color: #337ab7; ">&nbsp Study Center Verification</i></h3>
    </div>

    <div class="row">
        <div class="col-md-6">
            <br>Welcome, user from {{sp.user.center.name}} Center. Please type following information to register your account.
            <br>
            <form name="form" ng-submit="sp.register(sp.user)" role="form">

                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="sp.user.username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="sp.user.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                    <label for="username">First name</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" ng-model="sp.user.firstName" required />
                    <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                </div>

                <div class="form-group" >
                    <label for="username">Middle name</label>
                    <input type="text" name="middleName" id="middleName" class="form-control" ng-model="sp.user.middleName" />
                </div>

                <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                    <label for="username">Last name</label>
                    <input type="text" name="lastName" id="Text1" class="form-control" ng-model="sp.user.lastName" required />
                    <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                </div>


                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" ng-model="sp.user.email" required />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                    <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email is not valid</span>
                </div>

                <label for="singleSelect"> Job title: </label><br>
                <select name="job" id="job" ng-model="sp.user.jobTitle">
                    <option value="pysician">Physician</option> <!-- interpolation -->
                    <option value="medical student">Medical student</option>
                    <option value="clinical fellow">Clinical fellow</option>
                    <option value="nurse">Nurse</option>
                    <option value="pysician assistant">Pysician assistant</option>
                    <option value="nurse assistant">assistant</option>
                    <option value="IT programmer">IT programmer</option>
                    <option value="research scientist">Research scientist</option>
                    <option value="Other">Other</option>
                </select><br><br>

                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a href="#/token" class="btn btn-link">Cancel</a>
                </div>
            </form>

        </div>




    </div>

</div>