<style> 
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
</style>
<div class="modal-header">
    <h4 class="modal-title">Prevention of Ventilator Associated Pneumonia (VAP)</h4>
</div>


<div class="modal-body"> 

<uib-tabset type="pills">
    
      <uib-tab heading="Yes">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            <input type="checkbox" ng-model="rd.resp_h_y1"
                    ng-true-value="'Head of bed at 30 degrees. '" 
                    ng-false-value="''" /> 
                    Head of bed at 30 degrees
            <br>
            <input type="checkbox" ng-model="rd.resp_h_y2"
                   ng-true-value="'Oral Care Q 12 hrs. '"
                   ng-false-value="''" />
                    Oral Care Q 12 hrs
            <br>
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.resp_h_y3"></textarea>
            </label>
        </div>
      </uib-tab>
      <uib-tab heading="No">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            <input type="checkbox" ng-model="rd.resp_h_n1"
                    ng-true-value="'Spinal drain or surgery. '" 
                    ng-false-value="''" 
                    /> 
                    Spinal drain or surgery
            <br>
            
            <input type="checkbox" ng-model="rd.resp_h_n2"
                    ng-true-value="'Patient is not on MV. '" 
                    ng-false-value="''" 
                    /> 
                    Patient is not on MV
            <br>
            
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.resp_h_n3"></textarea>
            </label>
        </div>
    </uib-tab>
  
</uib-tabset>

<br><br><br><br>

</div>
    



  
  
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
</div> 
 
 
