<style> 
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
</style>
<div class="modal-header">
    <h4 class="modal-title">Electrolytes</h4>
</div>


<div class="modal-body"> 

<uib-tabset type="pills">
    
      <uib-tab heading="Yes">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            <input type="checkbox" ng-model="rd.kidney_e_y1"
                    ng-true-value="'Monitor electrolytes. '" 
                    ng-false-value="''" /> 
                    Monitor electrolytes
            <br>
            
            <input type="checkbox" ng-model="rd.kidney_e_y2"
                    ng-true-value="'Correct electrolytes. '" 
                    ng-false-value="''" /> 
                    Correct electrolytes
            <br>
            
            <input type="checkbox" ng-model="rd.kidney_e_y3"
                    ng-true-value="'Avoid nephrotoxins. '" 
                    ng-false-value="''" /> 
                    Avoid nephrotoxins
            <br>

            <input type="checkbox" ng-model="rd.kidney_e_y4"
                   ng-true-value="'Renal dose adjustment ( ARF/CRF ). '"
                   ng-false-value="''" />
                   Renal dose adjustment ( ARF/CRF )
            
        </div>
    </uib-tab>
    <uib-tab heading="No">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.kidney_e_n1"></textarea>
            </label>
        </div>
    </uib-tab>
  
</uib-tabset>

<br><br><br><br><br>

</div>
    



  
  
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
</div> 
 
 
