<style> 
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
</style>
<div class="modal-header">
    <h4 class="modal-title">Extubation Readiness Trial</h4>
</div>


<div class="modal-body"> 

<uib-tabset type="pills">
    
      <uib-tab heading="Yes">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            <input type="checkbox" ng-model="rd.resp_s_y1"
                    ng-true-value="'Extubation Readiness Trial today. '"
                    ng-false-value="''" />
                    Extubation Readiness Trial today
            <br>
            
         
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.resp_s_y2"></textarea>
            </label>
            
        </div>
    </uib-tab>
    <uib-tab heading="No">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            <input type="checkbox" ng-model="rd.resp_s_n1"
                    ng-true-value="'Severe hypoxemia. '" 
                    ng-false-value="''" 
                    /> 
                    Severe hypoxemia
            <br>
            
            <input type="checkbox" ng-model="rd.resp_s_n2"
                    ng-true-value="'Neuromuscular blockade. '" 
                    ng-false-value="''" 
                    /> 
                    Neuromuscular blockade
            <br>
            
            <input type="checkbox" ng-model="rd.resp_s_n3"
                    ng-true-value="'Hemodynamic instability. '" 
                    ng-false-value="''" 
                    /> 
                    Hemodynamic instability
            <br>
            
            <input type="checkbox" ng-model="rd.resp_s_n4"
                    ng-true-value="'Patient is not on MV. '" 
                    ng-false-value="''" 
                    /> 
                    Patient is NOT on MV
            <br>
            
            
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.resp_s_n5"></textarea>
            </label>
        </div>
    </uib-tab>
  
</uib-tabset>

<br><br><br><br><br><br><br>

</div>
    



  
  
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
</div> 
 
 
