<style> 
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
</style>
<div class="modal-header">
    <h4 class="modal-title">Glucose/Metabolic</h4>
</div>


<div class="modal-body"> 

<uib-tabset type="pills">
    
      <uib-tab heading="Yes">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            <input type="checkbox" ng-model="rd.gi_g_y1"
                    ng-true-value="'Monitor glucose. '" 
                    ng-false-value="''" /> 
                    Monitor glucose
            <br>
            
            <input type="checkbox" ng-model="rd.gi_g_y2"
                    ng-true-value="'Continue insulin infusion. '" 
                    ng-false-value="''" /> 
                    Continue insulin infusion
            <br>
            
            <input type="checkbox" ng-model="rd.gi_g_y3"
                    ng-true-value="'Start insulin infusion. '" 
                    ng-false-value="''" /> 
                    Start insulin infusion
            <br>
            
         
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.gi_g_y4"></textarea>
            </label>
            
        </div>
    </uib-tab>
    <uib-tab heading="No">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            
            
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.gi_g_n1"></textarea>
            </label>
        </div>
    </uib-tab>
  
</uib-tabset>

<br><br><br><br><br><br>

</div>
    



  
  
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
</div> 
 
 
