<style> 
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
</style>
<div class="modal-header">
    <h4 class="modal-title">DVT prophylaxis</h4>
</div>


<div class="modal-body"> 

<uib-tabset type="pills">
    
      <uib-tab heading="Yes">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            <input type="checkbox" ng-model="rd.hem_dvt_y1"
                    ng-true-value="'Continue DVT prophylaxis. '" 
                    ng-false-value="''" /> 
                    Continue DVT prophylaxis
            <br>
            
            <input type="checkbox" ng-model="rd.hem_dvt_y2"
                    ng-true-value="'Start chemical DVT prophylaxis. '" 
                    ng-false-value="''" 
                    > 
                    Start chemical DVT prophylaxis
            <br>
            
            <input type="checkbox" ng-model="rd.hem_dvt_y3"
                    ng-true-value="'Start mechanical DVT prophylaxis. '" 
                    ng-false-value="''" 
                    > 
                    Start mechanical DVT prophylaxis
            <br>
            
            
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.hem_dvt_y4"></textarea>
            </label>
            
        </div>
    </uib-tab>
    <uib-tab heading="No">
        <br>
        <div class="form-group col-md-5 col-md-offset-4">
            <input type="checkbox" ng-model="rd.hem_dvt_n1"
                    ng-true-value="'Bleeding risk. '" 
                    ng-false-value="''" 
                    /> 
                    Bleeding risk
            <br>
            <input type="checkbox" ng-model="rd.hem_dvt_n2"
                    ng-true-value="'Systemic anticoagulation. '" 
                    ng-false-value="''" 
                    /> 
                    Systemic anticoagulation
            <br>
            
            <label class="item item-input">
                <textarea placeholder="Others"  ng-model ="rd.hem_dvt_n3"></textarea>
            </label>
        </div>
    </uib-tab>
  
</uib-tabset>

<br><br><br><br><br><br><br><br>

</div>
    



  
  
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
</div> 
 
 
